@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
}

/*  <header>    */

header>ul {
    display: flex;
    background-color: #537791;
    color: #f7f6e7;
    margin-top: 0%;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: baseline;
}

header>ul>li {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

header>ul>li>a {
    font-size: 125%;
    text-decoration: none;
    color: #F7F6E7;
}

header>ul>li>h1 {
    font-family: 'Ubuntu', sans-serif;
}

/*  </header>   */

/*  <main>      */
input[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 40px;
    border: 5px solid #537791;
    color: black;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    font-size: 120%;
    transition: border-radius 1s, border 1s;
}

input[type=text]:focus {
    border-radius: 0px;
    border: 5px solid grey;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: baseline;
    justify-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: calc(100vh - 70px);
}

main ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

main ul li {
    margin-bottom: 5%;
}

/*  <footer>    */

footer {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #537791;
    color: #F7F6E7;
    font-size: 110%;
}

/*  </footer>   */

/*  MISC        */

.Button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #537791;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #537791;
    text-align: center;
    transition: all 0.2s;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 140%;
    cursor: pointer;
}

.Button:hover {
    color: #F7F6E7;
    background-color: #537791;
    border-color: #F7F6E7;
}

.collapsible {
    background-color: #537791;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 1s;
    text-align: center;
    font-size: 110%;

}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: inherit;
    width: 50%;
    margin: 0 auto;
    font-size: 110%;
    background: linear-gradient(to right, #e7e6e1, #f7f6e7, #c1c0b9);
}




svg {
    display: block;
    margin: 0 auto;
    text-align: center;
}


.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    text-align: center;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}


.div-box {
    box-shadow: 0 10px 10px 0 rgba(83, 119, 145, 0.8);
    transition: 0.3s;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
    text-align: center;
    font-size: 120%;
}

/* Modal Content */
.modal-content {
    position: relative;
    background: linear-gradient(to right, #e7e6e1, #f7f6e7, #c1c0b9);
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid #888;
    width: 50%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


.close-modal:hover {
    stroke: #32CD32;
    cursor: pointer;
}